NET "a" LOC = P35 | IOSTANDARD = LVTTL | PULLDOWN;
NET "b" LOC = P32 | IOSTANDARD = LVTTL | PULLDOWN;
NET "c" LOC = P30 | IOSTANDARD = LVTTL | PULLDOWN;
NET "sum" LOC = P51 | IOSTANDARD = LVTTL | PULLDOWN;
NET "carry" LOC = P40 | IOSTANDARD = LVTTL | PULLDOWN;