NET "ext_out<0>" LOC = P51 | IOSTANDARD = LVTTL;
NET "ext_out<1>" LOC = P41 | IOSTANDARD = LVTTL;
NET "ext_out<2>" LOC = P40 | IOSTANDARD = LVTTL;
NET "sum" LOC = P84 | IOSTANDARD = LVTTL;
NET "carry" LOC = P87 | IOSTANDARD = LVTTL